<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://alex-fun-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e52566ba-42d2-462a-903c-c28a503e8316/resourceGroups/FunctionTest/providers/Microsoft.Web/sites/alex-fun-test</ResourceId>
    <UserName>$alex-fun-test</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://alex-fun-test.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>